USE [master]
GO
/****** Object:  Database [Diego_SPA]    Script Date: 22/9/2022 19:05:13 ******/
CREATE DATABASE [Diego_SPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diego_SPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Diego_SPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Diego_SPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Diego_SPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diego_SPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diego_SPA]
GO
/****** Object:  Table [dbo].[Centro]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centro](
	[Grupo] [varchar](8) NOT NULL,
	[ingresosProm] [float] NOT NULL,
	[edadProm] [int] NOT NULL,
	[PromVisit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escalon]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escalon](
	[Grupo] [varchar](8) NOT NULL,
	[ingresosProm] [float] NOT NULL,
	[edadProm] [int] NOT NULL,
	[PromVisit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SantaTecla]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SantaTecla](
	[Grupo] [varchar](8) NOT NULL,
	[ingresosProm] [float] NOT NULL,
	[edadProm] [int] NOT NULL,
	[PromVisit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaCentro_m20191007]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaCentro_m20191007](
	[id] [nvarchar](50) NULL,
	[Sexo] [numeric](18, 0) NULL,
	[ingresos] [real] NULL,
	[PromVisit] [real] NULL,
	[Edad] [numeric](18, 0) NULL,
	[Sauna] [numeric](18, 0) NULL,
	[Masaje] [numeric](18, 0) NULL,
	[Hidro] [numeric](18, 0) NULL,
	[Yoga] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaEscalon_i20191007]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaEscalon_i20191007](
	[id] [nvarchar](50) NULL,
	[Sexo] [numeric](18, 0) NULL,
	[ingresos] [real] NULL,
	[PromVisit] [real] NULL,
	[Edad] [numeric](18, 0) NULL,
	[Sauna] [numeric](18, 0) NULL,
	[Masaje] [numeric](18, 0) NULL,
	[Hidro] [numeric](18, 0) NULL,
	[Yoga] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaSantaTecla_m20191007]    Script Date: 22/9/2022 19:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaSantaTecla_m20191007](
	[id] [nvarchar](50) NULL,
	[Sexo] [numeric](18, 0) NULL,
	[ingresos] [real] NULL,
	[PromVisit] [real] NULL,
	[Edad] [numeric](18, 0) NULL,
	[Sauna] [numeric](18, 0) NULL,
	[Masaje] [numeric](18, 0) NULL,
	[Hidro] [numeric](18, 0) NULL,
	[Yoga] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
USE [master]
GO
